</main>



<div class="bottom-bar">
    <p>&copy; {{site.year}} <a href="/">{{site.title}}</a> All Rights Reserved.</p>
</div><!-- bottom bar -->




<!-- login / register popup -->
<div class="cust-modal">
    <span class="model-close"><i class="fa fa-times"></i></span>
    <div class="model-content">

        <div class="registr-form">
            <div class="bg-image with-pattern"></div>
            <div class="registr-content">
                <h3>Login</h3>
                <form id="loginForm">
                    <div class="form-group">
                        <input type="text" class="form-control" id="username" name="username"
                            placeholder="Email Address">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="password" name="password"
                            placeholder="Password">
                    </div>
                    <div id="loginErrors"></div>
                    <button type="submit">Login</button>
                </form>
            </div>
            <p class="loading"><img src="/images/loader.gif" alt=""></p>
            {{!-- <a href="#">Don't Have Account</a> --}}
        </div>

    </div>
</div>



<div class="modal-overlay"></div>



</div>

<!-- Incluse js files -->
<script type="text/javascript" src="/assets/js/jquery.min.js"></script>
<script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/js/owl.carousel.min.js"></script>
<script type="text/javascript" src="/assets/js/isotope.min.js"></script>
<script type="text/javascript" src="/assets/js/isotope-init.js"></script>
<script type="text/javascript" src="/assets/js/jquery.fancybox.min.js"></script>
<script type="text/javascript" src="/assets/js/perfect-scrollbar.min.js"></script>
<script type="text/javascript" src="/assets/js/script.js"></script>
<script type="text/javascript" src="/assets/js/my-script.js"></script>

<!-- REVOLUTION JS FILES -->
<script type="text/javascript" src="/assets/js/revolution/jquery.themepunch.tools.min.js"></script>
<script type="text/javascript" src="/assets/js/revolution/jquery.themepunch.revolution.min.js"></script>

<!-- SLIDER REVOLUTION 5.0 EXTENSIONS  -->
<script src="/assets/js/revolution/revolution.extension.actions.min.js"></script>
<script src="/assets/js/revolution/revolution.extension.carousel.min.js"></script>
<script src="/assets/js/revolution/revolution.extension.kenburn.min.js"></script>
<script src="/assets/js/revolution/revolution.extension.layeranimation.min.js"></script>
<script src="/assets/js/revolution/revolution.extension.migration.min.js"></script>
<script src="/assets/js/revolution/revolution.extension.navigation.min.js"></script>
<script src="/assets/js/revolution/revolution.extension.parallax.min.js"></script>
<script src="/assets/js/revolution/revolution.extension.slideanims.min.js"></script>
<script src="/assets/js/revolution/revolution.extension.video.min.js"></script>
<script src="/assets/js/revolution/revolution.initialize3.js"></script>

<script>
    window.prismic = {
        endpoint: 'https://compasscareers.cdn.prismic.io/api/v2'
    };
</script>
<script type="text/javascript" src="https://static.cdn.prismic.io/prismic.min.js?new=true"></script>

</body>

</html>