{{>top}}


<section>
    <div class="sub-head">
        <div class="bg-image" style="background-image: url({{document.data.main_image.url}});"></div>
        <div class="sub-meta">


            {{{PrismicHtml document.data.title}}}


        </div>
    </div>
</section><!-- Banner -->



<section>
    <div class="block">
        <div class="container">
            <div class="row">


                <div class="col-md-6 mx-auto">

                    {{{body}}}

                </div>



            </div>
        </div>
    </div>
</section>


{{>bottom}}