<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>stephenpeck.me</title>
</head>

<body>
    <ul>
        <li><a href="/about">About Us</a></li>
        <li><a href="/what-we-do">What We Do</a></li>
        <li><a href="/why-we-exist">Why We Exist</a></li>
    </ul>
    {{{body}}}
</body>

</html>