{{>top}}


<section>
    <div class="block">
        <div class="container">
            <div class="row">


                <div class="col-md-6 mx-auto">

                    {{{body}}}

                </div>



            </div>
        </div>
    </div>
</section>


{{>bottom}}