<div class="course-detail">
    <a href="#" class="categoryz">Interview</a>
    <div class="course-author">
        <span>Sarah Johnson</span>
    </div>
    <h1>{{PrismicText document.data.title}}</h1>


    {{{PrismicHtml document.data.body}}}





















    {{!--     
    <figure>
        <img src="/assets/images/course-detail1.jpg" alt="">
    </figure>
    <p>Pellentesque ultrices orci id justo vehicula, non aliquam erat lacinia. Mauris rhoncus
        venenatis tempor. Proin egestas euismod felis a ullamcorper. Nullam lacus nisi, blandit eget
        lacus ac, lobortis finibus augueSed ut perspiciatis ude omni iste natus error sit voluptatem
        doloremque laudantium, totam rem aperiam, eaque ipsa qua tore veritatis.</p>
    <h3>Best Opportunities</h3>
    <div class="row">
        <div class="col-md-6">
            <ul class="opport-list">
                <li>Making Cents Investments....</li>
                <li>Wall Street For Surfing Victirea</li>
                <li>Your Lead Own Business po...</li>
                <li>Street For Surfing Victirea</li>
            </ul>
        </div>
        <div class="col-md-6">
            <ul class="opport-list">
                <li>Firm is a business of one or more experts.</li>
                <li>Where you want your business.</li>
                <li>Target company executives and provide.</li>
            </ul>
        </div>
    </div>
    <h3>Course Demo Video</h3>
    <p>Pellentesque ultrices orci id justo vehicula, non aliquam erat lacinia. Mauris rhoncus
        venenatis totam rem aperiam, eaque ipsa qua tore veritatis.</p>
    <div class="success-video">
        <img src="/assets/images/course-detail2.jpg" alt="">
        <div class="video-meta">
            <a data-fancybox href="https://www.youtube.com/watch?v=_sI_Ps7JSEk"><i class="fa fa-play"></i></a>
        </div>
    </div>
    <p>Pellentesque ultrices orci id justo vehicula, non aliquam erat lacinia. Mauris rhoncus
        venenatis tempor. Proin egestas euismod felis a ullamcorper. Nullam lacus nisi, blandit eget
        lacus ac, lobortis finibus augueSed ut perspiciatis ude omni iste natus error sit voluptatem
        doloremque laudantium, totam rem aperiam, eaque ipsa qua tore veritatis. Pellentesque
        ultrices orci id justo vehicula, non aliquam erat lacinia.</p>
    <p>Maurisrhoncus venenatis tempor. Proin egestas euismod felis a ullamcorper. Nullam lacus nisi,
        blandit eget lacus ac, lobortis finibus augueSed ut perspiciatis ude omni iste natus error
        sit voluptatem doloremque laudantium, totam rem aperiam, eaque ipsa qua tore veritatis.</p>
</div> --}}