<div class="course-detail">
    <h1>{{PrismicText document.data.title}}</h1>
    <br>

    <p class=" block-img">
        <img src="{{document.data.featured_image.url}}" alt="">
    </p>

    {{{PrismicHtml document.data.body}}}

</div>