<div class="email-verify">
    <i class="large-icon fas fa-inbox mb-20"></i><br>
    <h3>Check your email inbox</h3>
    <div>
        <p>We sent an email link to complete your registration.</p>
        <p>Didn't receive the email?</p>
        <p id="resend"><a data-uid="{{ userId }}" href="#" class="butn1 butn-light">Resend Email</a></p>
        <p id="sendingLoading" class="loading"><img src="/images/loader-white.gif" alt=""></p>
        <span id="sentmsg"></span>
    </div>
</div>