<div class="email-verify">
    <i class="large-icon fas fa-inbox"></i>
    <h3>Check your email inbox</h3>
    <div>
        <p>We sent an email link to complete your registration.</p>
        <p>Didn't receive the email?</p>
        <p><a href="#">Resend Email</a></p>
    </div>
</div>