<div class="button-link"><a class="butn1 butn-dark ask-question" href="">Ask Question</a></div>
<div class="comment-sec">
    <ul class="comment-list">
        {{#each document.data.faq}}
        <li>
            <div class="comment_container">
                <div class="comment-text">
                    <p class="meta">
                        <strong class="woocommerce-review__author">{{PrismicText question}}</strong>
                        <span class="question-user">{{PrismicText user}}</time>
                    </p>
                    <div class="description">
                        <p>{{{PrismicHtml answer}}}</p>
                    </div>
                </div>
            </div>
        </li>
        {{/each}}
    </ul>
</div>

<div class="cust-modal" id="ask-question">
    <span class="model-close"><i class="fa fa-times"></i></span>
    <div class="model-content">

        <div class="registr-form">
            <div class="bg-image with-pattern"></div>
            <div class="registr-content">
                <h3>Ask a Question</h3>
                <form id="questionForm">
                    <div class="form-group">
                        <input type="text" class="form-control" id="email" name="email" placeholder="Email Address">
                    </div>
                    <div class="form-group">
                        <textarea name="question" id="question" cols="30" rows="10"></textarea>
                    </div>
                    <div id="questionErrors" class="alert alert-danger" role="alert"></div>
                    <button type="submit">Submit</button>
                </form>
            </div>
            <p class="loading"><img src="/images/loader.gif" alt=""></p>
        </div>

    </div>
</div>