<div class="email-verify">
    <i class="large-icon fas fa-exclamation-circle mb-20"></i>
    <h3>Uh-oh!</h3>
    <div>
        <p>Password reset token is invalid or has expired.</p>
        <p>Try reseting your password again.</p>
    </div>
</div>