<section>
    <div class="block inner-pages">
        <div class="container">
            <div class="row">
                <div class="col-md-11 col-xl-10 mx-auto">
                    <div class="course-page">
                        <div id="options">
                            <div class="option-isotop">
                                <ul id="filter2" class="option-set default" data-option-key="filter">
                                    <li><a href="#trending" data-option-value=".trending" class="selected"
                                            title="Trending Now">Trending Now</a></li>
                                    <li><a href="#popular" data-option-value=".popular" title="Most Popular ">Most
                                            Popular</a></li>
                                    <li><a href="#recent" data-option-value=".recent" title="Most Recent">Most
                                            Recent</a></li>
                                    <li><a href="#certified" data-option-value=".certified" title="Most Certified">Most
                                            Certified</a></li>
                                </ul>
                                {{j}}
                            </div>
                        </div><!-- FILTER BUTTONS -->
                        <ul class="row masonry">
                            <li class="col-sm-6 col-lg-4 trending certified">
                                <div class="pop-course">
                                    <div class="course-thumb">
                                        <img src="assets/images/course1.jpg" alt="">
                                        <span>$24.99</span>
                                        <a href="course-detail.html" class="butn">Start Now</a>
                                    </div>
                                    <div class="course-meta">
                                        <div class="course-author">
                                            <img src="assets/images/author.png" alt="">
                                            <span>Sarah Johnson</span>
                                        </div>
                                        <h2>a broad range of topics educational policy</h2>
                                        <a href="#"><i class="fa fa-download"></i><span>95</span></a>
                                        <a href="#"><i class="fa fa-comments"></i><span>2</span></a>
                                    </div>
                                </div>
                            </li>
                            <li class="col-sm-6 col-lg-4 trending recent">
                                <div class="pop-course">
                                    <div class="course-thumb">
                                        <img src="assets/images/course2.jpg" alt="">
                                        <span>$24.99</span>
                                        <a href="course-detail.html" class="butn">Start Now</a>
                                    </div>
                                    <div class="course-meta">
                                        <div class="course-author">
                                            <img src="assets/images/author.png" alt="">
                                            <span>Sarah Johnson</span>
                                        </div>
                                        <h2>University, including in Education</h2>
                                        <a href="#"><i class="fa fa-download"></i><span>95</span></a>
                                        <a href="#"><i class="fa fa-comments"></i><span>2</span></a>
                                    </div>
                                </div>
                            </li>
                            <li class="col-sm-6 col-lg-4 trending popular">
                                <div class="pop-course">
                                    <div class="course-thumb">
                                        <img src="assets/images/course3.jpg" alt="">
                                        <span>$24.99</span>
                                        <a href="course-detail.html" class="butn">Start Now</a>
                                    </div>
                                    <div class="course-meta">
                                        <div class="course-author">
                                            <img src="assets/images/author.png" alt="">
                                            <span>Sarah Johnson</span>
                                        </div>
                                        <h2>art of teaching, planning management in schools</h2>
                                        <a href="#"><i class="fa fa-download"></i><span>95</span></a>
                                        <a href="#"><i class="fa fa-comments"></i><span>2</span></a>
                                    </div>
                                </div>
                            </li>
                            <li class="col-sm-6 col-lg-4 trending trending">
                                <div class="pop-course">
                                    <div class="course-thumb">
                                        <img src="assets/images/course4.jpg" alt="">
                                        <span>$24.99</span>
                                        <a href="course-detail.html" class="butn">Start Now</a>
                                    </div>
                                    <div class="course-meta">
                                        <div class="course-author">
                                            <img src="assets/images/author.png" alt="">
                                            <span>Sarah Johnson</span>
                                        </div>
                                        <h2>authority in English For language teaching</h2>
                                        <a href="#"><i class="fa fa-download"></i><span>95</span></a>
                                        <a href="#"><i class="fa fa-comments"></i><span>2</span></a>
                                    </div>
                                </div>
                            </li>
                            <li class="col-sm-6 col-lg-4 trending certified">
                                <div class="pop-course">
                                    <div class="course-thumb">
                                        <img src="assets/images/course5.jpg" alt="">
                                        <span>$24.99</span>
                                        <a href="course-detail.html" class="butn">Start Now</a>
                                    </div>
                                    <div class="course-meta">
                                        <div class="course-author">
                                            <img src="assets/images/author.png" alt="">
                                            <span>Sarah Johnson</span>
                                        </div>
                                        <h2>courses explore the practice of teaching</h2>
                                        <a href="#"><i class="fa fa-download"></i><span>95</span></a>
                                        <a href="#"><i class="fa fa-comments"></i><span>2</span></a>
                                    </div>
                                </div>
                            </li>
                            <li class="col-sm-6 col-lg-4 trending recent">
                                <div class="pop-course">
                                    <div class="course-thumb">
                                        <img src="assets/images/course6.jpg" alt="">
                                        <span>$24.99</span>
                                        <a href="course-detail.html" class="butn">Start Now</a>
                                    </div>
                                    <div class="course-meta">
                                        <div class="course-author">
                                            <img src="assets/images/author.png" alt="">
                                            <span>Sarah Johnson</span>
                                        </div>
                                        <h2>offers online education courses covering</h2>
                                        <a href="#"><i class="fa fa-download"></i><span>95</span></a>
                                        <a href="#"><i class="fa fa-comments"></i><span>2</span></a>
                                    </div>
                                </div>
                            </li>
                            <li class="col-sm-6 col-lg-4 popular">
                                <div class="pop-course">
                                    <div class="course-thumb">
                                        <img src="assets/images/course7.jpg" alt="">
                                        <span>$24.99</span>
                                        <a href="course-detail.html" class="butn">Start Now</a>
                                    </div>
                                    <div class="course-meta">
                                        <div class="course-author">
                                            <img src="assets/images/author.png" alt="">
                                            <span>Sarah Johnson</span>
                                        </div>
                                        <h2>a broad range of topics educational policy</h2>
                                        <a href="#"><i class="fa fa-download"></i><span>95</span></a>
                                        <a href="#"><i class="fa fa-comments"></i><span>2</span></a>
                                    </div>
                                </div>
                            </li>
                            <li class="col-sm-6 col-lg-4 recent">
                                <div class="pop-course">
                                    <div class="course-thumb">
                                        <img src="assets/images/course8.jpg" alt="">
                                        <span>$24.99</span>
                                        <a href="course-detail.html" class="butn">Start Now</a>
                                    </div>
                                    <div class="course-meta">
                                        <div class="course-author">
                                            <img src="assets/images/author.png" alt="">
                                            <span>Sarah Johnson</span>
                                        </div>
                                        <h2>University, including in Education</h2>
                                        <a href="#"><i class="fa fa-download"></i><span>95</span></a>
                                        <a href="#"><i class="fa fa-comments"></i><span>2</span></a>
                                    </div>
                                </div>
                            </li>
                            <li class="col-sm-6 col-lg-4 certified">
                                <div class="pop-course">
                                    <div class="course-thumb">
                                        <img src="assets/images/course9.jpg" alt="">
                                        <span>$24.99</span>
                                        <a href="course-detail.html" class="butn">Start Now</a>
                                    </div>
                                    <div class="course-meta">
                                        <div class="course-author">
                                            <img src="assets/images/author.png" alt="">
                                            <span>Sarah Johnson</span>
                                        </div>
                                        <h2>art of teaching, planning management in schools</h2>
                                        <a href="#"><i class="fa fa-download"></i><span>95</span></a>
                                        <a href="#"><i class="fa fa-comments"></i><span>2</span></a>
                                    </div>
                                </div>
                            </li>
                            <li class="col-sm-6 col-lg-4 recent">
                                <div class="pop-course">
                                    <div class="course-thumb">
                                        <img src="assets/images/course10.jpg" alt="">
                                        <span>$24.99</span>
                                        <a href="course-detail.html" class="butn">Start Now</a>
                                    </div>
                                    <div class="course-meta">
                                        <div class="course-author">
                                            <img src="assets/images/author.png" alt="">
                                            <span>Sarah Johnson</span>
                                        </div>
                                        <h2>authority in English For language teaching</h2>
                                        <a href="#"><i class="fa fa-download"></i><span>95</span></a>
                                        <a href="#"><i class="fa fa-comments"></i><span>2</span></a>
                                    </div>
                                </div>
                            </li>
                            <li class="col-sm-6 col-lg-4 popular">
                                <div class="pop-course">
                                    <div class="course-thumb">
                                        <img src="assets/images/course11.jpg" alt="">
                                        <span>$24.99</span>
                                        <a href="course-detail.html" class="butn">Start Now</a>
                                    </div>
                                    <div class="course-meta">
                                        <div class="course-author">
                                            <img src="assets/images/author.png" alt="">
                                            <span>Sarah Johnson</span>
                                        </div>
                                        <h2>courses explore the practice of teaching</h2>
                                        <a href="#"><i class="fa fa-download"></i><span>95</span></a>
                                        <a href="#"><i class="fa fa-comments"></i><span>2</span></a>
                                    </div>
                                </div>
                            </li>
                            <li class="col-sm-6 col-lg-4 certified">
                                <div class="pop-course">
                                    <div class="course-thumb">
                                        <img src="assets/images/course12.jpg" alt="">
                                        <span>$24.99</span>
                                        <a href="course-detail.html" class="butn">Start Now</a>
                                    </div>
                                    <div class="course-meta">
                                        <div class="course-author">
                                            <img src="assets/images/author.png" alt="">
                                            <span>Sarah Johnson</span>
                                        </div>
                                        <h2>offers online education courses covering</h2>
                                        <a href="#"><i class="fa fa-download"></i><span>95</span></a>
                                        <a href="#"><i class="fa fa-comments"></i><span>2</span></a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <ul class="paginationz">
                            <li class="prev"><a href="#" title=""><i class="fa fa fa-caret-left"></i></a></li>
                            <li><a href="#" title="">1</a></li>
                            <li><a class="active" href="#" title="">2</a></li>
                            <li><a href="#" title="">3</a></li>
                            <li><a href="#" title="">4</a></li>
                            <li class="space">.......</li>
                            <li><a href="#" title="">13</a></li>
                            <li class="next"><a href="#" title=""><i class="fa fa fa-caret-right"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- feature -->