<div class="email-verify">
    <i class="large-icon far fa-check-circle mb-20"></i>
    <h3>Congratulations!</h3>
    <div>
        <p>Your email has been verified.</p>
        <p>After you login, you will be able to access our complete library of resources.</p>
    </div>
</div>