<div class="email-verify">
    <i class="large-icon far fa-check-circle"></i>
    <h3>Congratulations!</h3>
    <div>
        <p>You're email has been verified.</p>
        <p>Try logging in!</p>
    </div>
</div>