.info-container,
.scroll-top,
.append-msg-icon i:hover,
.submit-search i,
.event-detail .video-meta,
.work-exper .vertical-text,
.teacher-skill .progress-bar,
.comment_container .reply,
.variation-info,
.categoryz,
.newsletter-bg button,
.date-circle,
.paginationz > li.prev a,
.paginationz > li.next a,
.pager,
.gallery-car2.owl-carousel .owl-dot.active span,
.gallery-car2.owl-carousel .owl-dot:hover span,
.sponsor-car .owl-prev:hover .arrow-icn,
.sponsor-car .owl-next:hover .arrow-icn,
.download:focus,
.download:hover,
.featr-price,
.course-thumb a.cat:hover,
.table-meta span,
.five-col > .two-col,
.video-meta a,
.gallery-meta a.icn,
.course-thumb span,
#options li a.selected,
.about-tab li:hover .butn,
.about-tab li.active .butn,
.butn-light::before,
.butn-light::after,
a.butn-bg,
.butn-bg,
.butn.with-bg,
.butn.active,
a.butn:hover,
.topbar.style2 .socials li a:hover,
.close-menu,
.socials li a:hover,
.scheme-bg,
.scheme-bg:before {
	background: #e36c4d;
}

.pop-course h2:hover,
.start-learning .butn:hover,
.posted-date a:hover,
.variation-btns .butn:hover,
.newsletter-bg button:hover,
.registr-form button:hover,
.social-icn:focus,
.social-icn:hover,
.topbar.style2 a.log-in-out:hover,
.topbar.style2 .topbar-contact > li a:hover,
.recent-posts li > a:hover,
.log-in-out:hover,
.topbar-contact > li a:hover,
#options li a:not(.selected):hover,
.follow-us,
.error-page > span span,
.attendees-more a,
.event-detail .video-meta a i,
.event-schedule li span,
.event-metadata > div,
.work-exper .expl-right span,
.teacher-info ul span i,
.teacher-info > span,
.tagz a:hover,
.tagz strong,
.list-with-icon li i,
.related-articles li:hover,
.start-learning span,
.comment-notes,
.comment-form-rating label,
.comment-text .meta time,
.review-rating-score-average,
.about-instructor-meta li i,
.about-instructor-meta span,
.course-variation li i,
.coming-event h4:hover,
.helpful-link li a:hover,
.sidebar .recent-posts li > a i,
.sidebar .recent-posts h4:hover,
.paginationz > li a:hover,
.paginationz > li a.active,
.bottom-bar p > a,
.recent-posts li > a i,
.recent-posts h4:hover,
.about-logo li i,
.quick-link-meta a:hover,
.quick-link-bar strong,
.course-list h2:hover,
.download,
.featr-course h2:hover,
.course-thumb a.cat,
.more-list li i,
.event h2:hover,
.event-loc i,
.event i,
.event li span,
.endless-opp h3:hover,
.funfact2-meta strong,
.post-data h2:hover,
.post-cat a,
.students h2:hover,
.quote-img,
.quote-content span,
.course-meta > a,
.funfact strong,
.courses-info h2 span,
a.butn-light,
.butn-light,
.butn-bg:hover span,
.butn-bg:hover,
.butn2:hover,
a.butn,
.step span,
.topbar.style2 .topbar-contact span,
.side-menu > ul > li.menu-item-has-children.active > a,
.side-menu > ul li > a:hover,
.main-menu > ul > li ul li:hover > a,
.main-menu > div > ul > li ul li:hover > a,
.main-menu > ul > li:hover > a,
.main-menu > div > ul > li:hover > a,
.log-in-out i,
.topbar-contact li a > i {
	color: #e36c4d;
}

.download,
.paginationz > li a:hover,
.paginationz > li a.active,
a.butn-bg,
.butn-bg,
.butn1,
a.butn::before,
.price-table:hover .table-meta,
.price-table.active .table-meta,
.price-table.active .price-img,
.price-table:hover .price-img,
.step-wrap:hover .step-img,
.step-wrap:hover .step-img::before,
.step-wrap:hover .step-img::after {
	border-color: #e36c4d;
}
.anim-border::before {
	border-top: 1px solid #e36c4d;
}
.helpful-link li a:hover,
.anim-border::before,
.post-cat a {
	border-bottom: 1px solid #e36c4d;
}
.anim-border::after {
	border-right: 1px solid #e36c4d;
	border-left: 1px solid #e36c4d;
}
.registr-form .bg-image.with-pattern {
	background-color: #e36c4d;
}
