.embed-video {
	height: 300px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.embed-video,
.course-detail img {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}
