html,
body {
	height: 100%;
}
.theme-layout {
	height: 100%;
	display: flex;
	flex-direction: column;
}
main {
	flex: 1 0 auto;
}
.bottom-bar {
	flex-shrink: 0;
}

.embed-video {
	height: 300px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.embed-video,
.course-detail img {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}

.course-date {
	display: inline-block;
	width: 100%;
	vertical-align: middle;
	margin-bottom: 10px;
}

.course-date span {
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	color: #999999;
	line-height: 22px;
}

.read-more {
	width: 100px !important;
}

.loading {
	margin-top: 15px;
	display: none;
}

#registerErrors,
#loginErrors {
	font-size: 0.75em;
	text-align: left;
	margin-bottom: 0;
	display: none;
}

.email-verify {
	text-align: center;
}

.large-icon {
	font-size: 100px;
}

.mb-20 {
	margin-bottom: 20px !important;
}

.question-user {
	color: #e36c4d;
	font-size: 15px;
	margin-left: 5px;
}

.button-link {
	text-align: center;
	margin-bottom: 25px;
}
