::selection{
color: #ffffff;
background: #caa40b;
/*background: #caa40b;*/
}
::-moz-selection { /* Code for Firefox */
color: #ffffff;
background: #caa40b;
}
/*------------------------------------------------------------------
COLOR
------------------------------------------------------------------*/
a{
	color: #caa40b;
}
a:hover,
a:visited,
span.amount,
.widget_popular_recent_tabs .nav-tabs li.active a,
.widget_product_categories .cat-item:hover,
.widget_product_categories .cat-item a:hover,
.widget_archive li:hover,
.widget_archive li a:hover,
.widget_categories .cat-item:hover,
.widget_categories li a:hover,
.pricing-table.recomended .button.solid-button, 
.pricing-table .table-content:hover .button.solid-button,
.pricing-table.Recommended .button.solid-button, 
.pricing-table.recommended .button.solid-button, 
#sync2 .owl-item.synced .post_slider_title,
#sync2 .owl-item:hover .post_slider_title,
#sync2 .owl-item:active .post_slider_title,
.pricing-table.recomended .button.solid-button, 
.pricing-table .table-content:hover .button.solid-button,
.testimonial-author,
.testimonials-container blockquote::before,
.testimonials-container blockquote::after,
h2 span,
label.error,
.author-name,
.prev-next-post a:hover,
.prev-text,
.button.btn-filled:hover,
.next-text,
.social ul li a:hover i,
.wpcf7-form span.wpcf7-not-valid-tip,
.text-dark .statistics .stats-head *,
.button.btn-filled,
footer ul.menu li.menu-item a:hover,
.widget_meta a:hover,
.widget_pages a:hover,
.sticky_post i,
.headerTWO,
.simple_sermon_content_top h4,
.woocommerce .star-rating span::before,
.widget_recent_entries_with_thumbnail li:hover a,
.widget_recent_entries li a:hover,
.mt_section_product_style,
.list-view .post-category-comment-date .post-categories a,
.list-view .post-category-comment-date,
.list-view .post-details .post-excerpt p,
.list-view .post-details .post-category-comment-date i,
.fa-file-text-o:before,
.featured_product_shortcode .featured_product_categories,
.campaign_shortcode .campaign_summary h3,
.campaign_shortcode .campaign_summary h3 span,
.sidebar-content .widget_nav_menu li a:hover{
color: #f1c40f;
}
/*------------------------------------------------------------------
BACKGROUND + BACKGROUND-COLOR
------------------------------------------------------------------*/
.tagcloud > a:hover,
.modeltheme-icon-search,
.button::after,
.rotate45,
.latest-posts .post-date-day,
.latest-posts h3, 
.latest-tweets h3, 
.latest-videos h3,
.button.solid-button, 
button.btn,
.pricing-table.recomended .table-content, 
.pricing-table .table-content:hover,
.pricing-table.Recommended .table-content, 
.pricing-table.recommended .table-content, 
.pricing-table.recomended .table-content, 
.pricing-table .table-content:hover,
.block-triangle,
.owl-template .owl-controls .owl-page span,
body .btn.btn-blue, 
body a.btn.btn-blue, 
body button.btn.btn-blue,
.pagination .page-numbers.current,
.pagination .page-numbers:hover,
#subscribe > button[type='submit'],
.social-sharer > li:hover,
.prev-next-post a:hover .rotate45,
.masonry_banner.default-skin,
.form-submit input,
.progress-bar,
.member-header::before, 
.member-header::after,
.member-footer .social::before, 
.member-footer .social::after,
.subscribe > button[type='submit'],
.no-results input[type='submit'],
h3#reply-title::after,
.newspaper-info,
.cbp_tmtimeline > li .cbp_tmicon,
.categories_shortcode .owl-controls .owl-buttons i:hover,
.widget-title:after,
h2.heading-bottom:after,
.content_element .accordion_wrapper .accordion_header.ui-state-active,
#primary .main-content ul li:not(.rotate45)::before,
.wpcf7-form .wpcf7-submit,
ul.ecs-event-list li span,
#contact_form2 .solid-button.button,
.details-container > div.details-item .amount, .details-container > div.details-item ins,
.modeltheme-search .search-submit,
.pricing-table.recommended .table-content .title-pricing,
.pricing-table .table-content:hover .title-pricing,
.pricing-table.recommended .button.solid-button,
#navbar ul.sub-menu li a:hover,
.list-view .post-details .post-excerpt .more-link,
.pricing-table .table-content:hover .button.solid-button,
footer .footer-top .menu .menu-item a::before,
.comment-navigation .nav-previous > a, .comment-navigation .nav-next > a,
.modeltheme-pagination.pagination .page-numbers.current,
.search-form input[type="submit"],
.share-social-links li:hover a,
.author-bio,
.featured_product_shortcode .featured_product_button,
.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button,
.post-password-form input[type='submit'] {
background: #f1c40f ;
}
.woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover,
.modeltheme-search.modeltheme-search-open .modeltheme-icon-search, 
.no-js .modeltheme-search .modeltheme-icon-search,
.modeltheme-icon-search:hover,
.latest-posts .post-date-month,
.button.solid-button:hover,
body .btn.btn-blue:hover, 
body a.btn.btn-blue:hover, 
.single-post-tags > a:hover,
body button.btn.btn-blue:hover,
.search-form input[type="submit"]:hover,
#contact_form2 .solid-button.button:hover,
.subscribe > button[type='submit']:hover,
.no-results input[type='submit']:hover,
ul.ecs-event-list li span:hover,
.pricing-table.recommended .table-content .price_circle,
.pricing-table .table-content:hover .price_circle,
#modal-search-form .modal-content input.search-input,
.wpcf7-form .wpcf7-submit:hover,
.form-submit input:hover,
.fc-day-grid-event .fc-content,
.fc-event,
.fc-event-dot,
#navbar ul.menu > .menu-item > a::before,
.pricing-table.recommended .button.solid-button:hover,
.comment-navigation .nav-previous > a:hover, .comment-navigation .nav-next > a:hover,
.list-view .post-details .post-excerpt .more-link:hover,
.featured_product_shortcode .featured_product_button:hover,
.pricing-table .table-content:hover .button.solid-button:hover,
.campaign_shortcode .campaign_button:hover,
.post-password-form input[type='submit']:hover {
background: #caa40b;
}
.tagcloud > a:hover{
background: #740496 !important;
}
.flickr_badge_image a::after,
.thumbnail-overlay,
.portfolio-hover,
.pastor-image-content .details-holder,
.item-description .holder-top,
blockquote::before {
background: .95;
}

/*------------------------------------------------------------------
BORDER-COLOR
------------------------------------------------------------------*/
.author-bio,
blockquote,
.widget_popular_recent_tabs .nav-tabs > li.active,
body .left-border, 
body .right-border,
body .member-header,
body .member-footer .social,
body .button[type='submit'],
.navbar ul li ul.sub-menu,
.content_element .tabs_nav li.ui-tabs-active,
#contact-us .form-control:focus,
.sale_banner_holder:hover,
.header_search_form{
background: #740496 ;/*Color: Main gold */
}

footer .menu .menu-item a {
    color: #b4bbc2;  /*Color: gray */
}
.campaign_shortcode .campaign_button,
.back-to-top{
	background-color: #f1c40f;
}
button.general.btn3.btn3-size-md.btn3-shape-square.btn3-style-custom.mt_custom_button{
	background-color: #f1c40f;	
}
.woocommerce ul.products li.product .price{
    color: #77a464;
}
.fixed-search-inside .search-input{
    border-bottom: 1px solid #84AF00;
}
.reply_button1 a{
	color: #ffffff;
}
.list-view .post-details .post-name a,
.post-name2 a{
	color: #000;
}
.list-view .post-details .post-category-comment-date a,
.list-view .post-category-comment-date .post-author a,
.post-author > a{
	color: #000;
}
