/* CUSTOM STYLE */
article.mt-sermon .exodos-sermon-inner {
    border-top: 1px solid #d3d3d3;
    margin-top: 10px;
    padding-top: 8px;
    width: calc(100% - 30px);
}
article.mt-sermon .exodos-sermon-media .single-sermon-media {
    display: inline-table;
    margin: 0;
}
.exodos-sermon-media .single-sermon-media {
    margin-bottom: 15px;
}
article.mt-sermon .single-sermon-media i {
    color: #848484;
    font-size: 15px;
    margin-right: 6px;
}

.mt_custom_about
{
    font-weight: 600;
    font-size: 25px;
    margin: 0;
}
.mt_images{}
.contact_service .landing_input {
    background-color: #f8f7f1;
    border: 1px solid #dbdbdb;
    border-radius: 2px;
    color: #000000;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 30px !important;
    padding: 15px !important;
    width: 100%;
}
.wpcf7-form-control .wpcf7-submit
{
    border: 0 none;
    color: #fff;
    background: #f1c40f;
}
.contact_service .landing_submit {
    border-radius: 2px;
    font-size: 18px;
    font-weight: initial;
    margin-bottom: 30px !important;
    padding: 15px 30px !important;
    text-transform: uppercase;
    width: auto;
}

/* 
 *  Core Owl Carousel CSS File
 *  v1.3.3
 */
/* clearfix */
.owl-carousel .owl-wrapper:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.owl-carousel{
    display: none;
    position: relative;
    width: 100%;
    -ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper{
    display: none;
    position: relative;
    -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
    overflow: hidden;
    position: relative;
    width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
    -webkit-transition: height 500ms ease-in-out;
    -moz-transition: height 500ms ease-in-out;
    -ms-transition: height 500ms ease-in-out;
    -o-transition: height 500ms ease-in-out;
    transition: height 500ms ease-in-out;
}
    
.owl-carousel .owl-item{
    float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
    cursor: pointer;
}
.owl-controls {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.grabbing { 
    cursor:url(../images/grabbing.png) 8 8, move;
}
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility:    hidden;
    -ms-backface-visibility:     hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
}

/*
*   Owl Carousel Owl Demo Theme 
*   v1.3.3
*/

.owl-template .owl-controls{
    margin-top: 10px;
    text-align: center;
}

/* Styling Next and Prev buttons */
.owl-template .owl-controls .owl-buttons div{
    color: #FFF;
    display: inline-block;
    zoom: 1;
    *display: inline;/*IE7 life-saver */
    margin: 5px;
    padding: 3px 10px;
    font-size: 12px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background: #869791;
    filter: Alpha(Opacity=50);/*IE7 fix*/
    opacity: 0.5;
}

/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-template .owl-controls.clickable .owl-buttons div:hover{
    filter: Alpha(Opacity=100);/*IE7 fix*/
    opacity: 1;
    text-decoration: none;
}

/* Styling Pagination*/
.owl-template .owl-controls .owl-page{
    display: inline-block;
    zoom: 1;
    *display: inline;/*IE7 life-saver */
}
.owl-template .owl-controls .owl-page span{
    display: block;
    width: 12px;
    height: 12px;
    margin: 5px 7px;
    filter: Alpha(Opacity=50);/*IE7 fix*/
    opacity: 0.5;
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    -ms-transform: none;
}
.owl-template .owl-controls .owl-page.active span,
.owl-template .owl-controls.clickable .owl-page:hover span{
    filter: Alpha(Opacity=100);/*IE7 fix*/
    opacity: 1;
}

/* If PaginationNumbers is true */
.owl-template .owl-controls .owl-page span.owl-numbers{
    height: auto;
    width: auto;
    color: #FFF;
    padding: 2px 10px;
    font-size: 12px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}

/* preloading images */
.owl-item.loading{
    min-height: 150px;
    background: url(AjaxLoader.gif) no-repeat center center
}
/*PARALLAX*/
img.wp-smiley,
img.emoji {
    display: inline;
    border: none;
    box-shadow: none;
    height: 1em;
    width: 1em;
    margin: 0 .07em;
    vertical-align: -0.1em;
    background: none;
    padding: 0;
}
.scroll .scroll_this img {
    height: 58px;
    width: 35px;
}
#header {
    margin: 0 auto;
}
body .exodoswp_preloader_holder {
    background-color: #232331;
}
.is_header_semitransparent .navbar-default {
    background: rgba(35, 35, 49, 0.2) none repeat scroll 0 0;
}
.is_header_semitransparent .sticky-wrapper.is-sticky .navbar-default {
    background: rgba(35, 35, 49, 0.9) none repeat scroll 0 0;
}
.back-to-top {
    background: #f1c40f url(images/mt-to-top-arrow.svg) no-repeat center center;
}
#navbar .menu-item > a {
    border-radius: 5;
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    -ms-border-radius: 5;
}
.breadcrumb a::after {
    content: "/";
}
.logo img,
.navbar-header .logo img {
    max-width: 300px;
}
.exodoswp_preloader_holder {
    background-color: #313131;
}
.fixed-sidebar-menu {
    background-color: rgba(241, 196, 15, 0.95);
}
#navbar .menu-item > a,
.navbar-nav .search_products a,
.navbar-default .navbar-nav > li > a {
    color: #ffffff;
}
#navbar .menu-item:hover > a,
#navbar .menu-item:focus > a,
#navbar .menu-item.current-menu-item > a {
    color: #f1c40f;
}
#navbar .menu-item > a,
.navbar-nav .search_products a,
.navbar-default .navbar-nav > li > a {
    background-color: transparent;
}
#navbar .menu .menu-item.booking a,
#navbar .menu-item:hover > a,
#navbar .menu-item:focus > a,
#navbar .menu-item.current-menu-item > a {
    background-color: transparent;
}
.navbar .menu > .menu-item {
    padding-top: 34px;
    padding-right: 0;
    padding-bottom: 34px;
    padding-left: 0;
}
#navbar .menu-item > a {
    padding-top: 0;
    padding-right: 15px;
    padding-bottom: 0;
    padding-left: 15px;
}
#navbar .sub-menu,
.navbar ul li ul.sub-menu {
    background-color: #313131;
}
#navbar ul.sub-menu li a {
    color: #ffffff;
}
#navbar ul.sub-menu li a:hover {
    color: #f1c40f;
}
#navbar ul.sub-menu li a:hover,
#navbar .mt-icon-list-item:hover {
    background-color: transparent;
}
body {
    font-family: Lato;
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.24s ease-in-out;
    -moz-transition: opacity 0.24s ease-in-out;
    transition: opacity 0.24s ease-in-out;
}
.wf-loading body,
{
    opacity: 0;
}
.ie.wf-loading body,
{
    visibility: hidden;
}
h1,
h3 *,
h1 span {
    font-family: Roboto;
    font-size: 36px;
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.24s ease-in-out;
    -moz-transition: opacity 0.24s ease-in-out;
    transition: opacity 0.24s ease-in-out;
}
.wf-loading h1,
h3 *,
.wf-loading h1 span,
{
    opacity: 0;
}
.ie.wf-loading h1,
h3 *,
.ie.wf-loading h1 span,
{
    visibility: hidden;
}
h2,
h2 * {
    font-family: Roboto;
    font-size: 30px;
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.24s ease-in-out;
    -moz-transition: opacity 0.24s ease-in-out;
    transition: opacity 0.24s ease-in-out;
}
.wf-loading h2,
h2 *,
{
    opacity: 0;
}
.ie.wf-loading h2,
h2 *,
{
    visibility: hidden;
}
h3,
h3 * {
    font-family: Roboto;
    font-size: 24px;
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.24s ease-in-out;
    -moz-transition: opacity 0.24s ease-in-out;
    transition: opacity 0.24s ease-in-out;
}
.wf-loading h3,
h3 *,
{
    opacity: 0;
}
.ie.wf-loading h3,
h3 *,
{
    visibility: hidden;
}
h4 {
    font-family: Roboto;
    font-size: 18px;
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.24s ease-in-out;
    -moz-transition: opacity 0.24s ease-in-out;
    transition: opacity 0.24s ease-in-out;
}
.wf-loading h4,
{
    opacity: 0;
}
.ie.wf-loading h4,
{
    visibility: hidden;
}
h5 {
    font-family: Roboto;
    font-size: 14px;
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.24s ease-in-out;
    -moz-transition: opacity 0.24s ease-in-out;
    transition: opacity 0.24s ease-in-out;
}
.wf-loading h5,
{
    opacity: 0;
}
.ie.wf-loading h5,
{
    visibility: hidden;
}
h6 {
    font-family: Roboto;
    font-size: 12px;
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.24s ease-in-out;
    -moz-transition: opacity 0.24s ease-in-out;
    transition: opacity 0.24s ease-in-out;
}
.wf-loading h6,
{
    opacity: 0;
}
.ie.wf-loading h6,
{
    visibility: hidden;
}
input,
textarea {
    font-family: Roboto;
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.24s ease-in-out;
    -moz-transition: opacity 0.24s ease-in-out;
    transition: opacity 0.24s ease-in-out;
}
.wf-loading input,
.wf-loading textarea,
{
    opacity: 0;
}
.ie.wf-loading input,
.ie.wf-loading textarea,
{
    visibility: hidden;
}
input[type="submit"] {
    font-family: Lato;
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.24s ease-in-out;
    -moz-transition: opacity 0.24s ease-in-out;
    transition: opacity 0.24s ease-in-out;
}
.wf-loading input[type="submit"],
{
    opacity: 0;
}
.ie.wf-loading input[type="submit"],
{
    visibility: hidden;
}
.navbar-default {
    background-color: #333333;
}
header {
    color: #FFFFFF;
}
.fixed-sidebar-menu {
    background-color: rgba(14, 26, 33, 0.95);
}
footer.template-footer {
    background-color: #333333;
    background-image: url('images/footer_background.jpg');
}
footer .footer-top h1.widget-title,
footer .footer-top h3.widget-title,
footer .footer-top .widget-title {
    color: #ffffff;
}
.footer-row-1 {
    padding-top: 105px;
    padding-bottom: 30px;
}
.footer-row-1 {
    margin-top: 20px;
    margin-bottom: 40px;
}
.footer-row-1 {
    border-top: 0px solid #515b5e;
    border-bottom: 0px solid #515b5e;
    border-left: 0px solid #515b5e;
    border-right: 0px solid #515b5e;
}
footer .footer {
    background-color: rgba(51, 51, 51, 0.1);
}
footer .footer h1.widget-title,
footer .footer h3.widget-title,
footer .footer .widget-title {
    color: #ffffff;
}
.single article .article-content p {
    font-family: Lato;
    line-height: 27px;
    font-weight: 300;
    color: #454646;
    font-size: 18px;
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.24s ease-in-out;
    -moz-transition: opacity 0.24s ease-in-out;
    transition: opacity 0.24s ease-in-out;
}
.wf-loading .single article .article-content p,
{
    opacity: 0;
}
.ie.wf-loading .single article .article-content p,
{
    visibility: hidden;
}
.tta-color-grey.tta-style-classic .tta-tab.active > a {
    color: #666666;
}
.tta-color-grey.tta-style-classic.tta-tabs .tta-panels,
.tta-color-grey.tta-style-classic .tta-tab.active > a {
    background-color: #f8f8f8;
}
.tta-color-grey.tta-style-classic.tta-tabs .tta-panels,
.tta-color-grey.tta-style-classic.tta-tabs .tta-panels::after,
.tta-color-grey.tta-style-classic.tta-tabs .tta-panels::before,
.tta-color-grey.tta-style-classic .tta-tab.active > a {
    border-color: #f0f0f0;
}
.tta-color-grey.tta-style-classic .tta-tab > a {
    color: #666666;
}
.tta-color-grey.tta-style-classic .tta-tab > a {
    background-color: #ebebeb;
}
.tta-color-grey.tta-style-classic .tta-tab > a {
    border-color: #e3e3e3;
}
blockquote {
    background-color: #f6f6f6;
}
blockquote {
    border-color: #f1c40f;
}
.tta-color-grey.tta-style-classic .tta-panel .tta-panel-title > a {
    color: #666666;
}
.tta-color-grey.tta-style-classic .tta-panel .tta-panel-heading {
    background-color: #f8f8f8;
}
.tta-color-grey.tta-style-classic .tta-panel .tta-panel-heading {
    border-color: #f0f0f0;
}
.tta-color-grey.tta-style-classic .tta-tab.active > a {
    color: #666666;
}
.tta-color-grey.tta-style-classic .tta-panel.active .tta-panel-heading,
.tta-color-grey.tta-style-classic .tta-panel .tta-panel-body,
.tta-color-grey.tta-style-classic .tta-panel .tta-panel-heading:focus,
.tta-color-grey.tta-style-classic .tta-panel .tta-panel-heading:hover {
    background-color: #f8f8f8;
}
.tta-color-grey.tta-style-classic .tta-panel.active .tta-panel-heading,
.tta-color-grey.tta-style-classic .tta-panel .tta-panel-body,
.tta-color-grey.tta-style-classic .tta-panel .tta-panel-body::after,
.tta-color-grey.tta-style-classic .tta-panel .tta-panel-body::before {
    border-color: #f0f0f0;
}
.campaign-raised .amount,
.campaign-figures .amount,
.donors-count,
.time-left,
.charitable-form-field a:not(.button),
.charitable-form-fields .charitable-fieldset a:not(.button),
.charitable-notice,
.charitable-notice .errors a {
    color: #f89d35;
}
.campaign-progress-bar .bar,
.donate-button,
#charitable-donation-form .donation-amount.selected,
#charitable-donation-amount-form .donation-amount.selected {
    background-color: #f89d35;
}
#charitable-donation-form .donation-amount.selected,
#charitable-donation-amount-form .donation-amount.selected,
.charitable-notice,
.charitable-drag-drop-images li:hover a.remove-image,
.supports-drag-drop .charitable-drag-drop-dropzone.drag-over {
    border-color: #f89d35;
}
.animate_when_almost_visible {
    opacity: 1;
}
.tribe-events-list .tribe-events-loop .tribe-event-featured,
.tribe-events-list #tribe-events-day.tribe-events-loop .tribe-event-featured,
.type-tribe_events.tribe-events-photo-event.tribe-event-featured .tribe-events-photo-event-wrap,
.type-tribe_events.tribe-events-photo-event.tribe-event-featured .tribe-events-photo-event-wrap:hover {
    background-color: #0ea0d7;
}
#tribe-events-content table.tribe-events-calendar .type-tribe_events.tribe-event-featured {
    background-color: #0ea0d7;
}
.tribe-events-list-widget .tribe-event-featured,
.tribe-events-venue-widget .tribe-event-featured,
.tribe-mini-calendar-list-wrapper .tribe-event-featured,
.tribe-events-adv-list-widget .tribe-event-featured .tribe-mini-calendar-event {
    background-color: #0ea0d7;
}
.tribe-grid-body .tribe-event-featured.tribe-events-week-hourly-single {
    background-color: rgba(14, 160, 215, .7);
    border-color: #0ea0d7;
}
.tribe-grid-body .tribe-event-featured.tribe-events-week-hourly-single:hover {
    background-color: #0ea0d7;
}

/*BLOG*/
.post-name {
    font-weight: 600;
    margin: 7px 0;
}
.list-view .post-details .post-name a {
    font-size: 25px;
    line-height: 1.5em;
}
.list-view .post-category-comment-date .post-categories a
{
    font-weight: 500;
}
.list-view .post-details .post-category-comment-date a
{
    font-weight: 300;
}
.list-view .post-details .post-excerpt .more-link
{
    background: #f1c40f;
}
.list-view .post-details .post-excerpt .more-link
{
    color: #ffffff !important;
    font-size: 15px;
    line-height: 25px;
    margin: 0;
    padding: 5px 12px;
}
.more-link
{
    display: block;
    float: left;
}
.pagination .page-numbers.current, .modeltheme-pagination.pagination .page-numbers.current
{
    background: #f1c40f;
}
.modeltheme-pagination-holder
{
    text-align: center;
}
.pagination .page-numbers {
    border: 1px solid #ddd;
    border-radius: 3px;
    float: left;
    font-size: 19px;
    line-height: 1.42857;
    margin: 0 5px;
    padding: 10px 20px;
    position: relative;
    text-decoration: none;
    -webkit-transition: all 300ms ease 0s;
}
.pagination .page-numbers {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    color: #565656;
    float: left;
    font-size: 19px;
    line-height: 1.42857;
    margin: 0 5px;
    padding: 10px 20px;
    position: relative;
    text-decoration: none;
    -webkit-transition: all 300ms ease 0s;
}

/*CONTACT*/
}
.mt_custom_contact1
{
    color:#2c3533 !important;
}
.mt_custom_contact2
{
    font-size: 24px;
    color: #2c3533;
    line-height: 24px;
    text-align: center;
    font-weight:400;
    font-style:normal
}
.mt_custom_contact3
{
    height: 10px;
}
.mt_custom_contact4
{
    text-align: center
}
.mt_custom_contact5
{
    color: #2d3634;
}
.mt_custom_contact6
{
    color: #2d3634;
}
.mt_custom_contact61
{
    color: #2c3432
}
.fa-building:before {
    content: "\f1ad";
    font-size: 50px;
}
.fa-phone:before {
    content: "\f095";
    font-size: 50px;
}
.fa-paper-plane-o:before, .fa-send-o:before {
    content: "\f1d9";
    font-size: 50px;
}
.fa-clock-o:before {
    content: "\f017";
    font-size: 50px;
}

.slider1 {
    width: 145px;
    height: 350px;
}
.slider2 {
    white-space: nowrap;
    font-weight: 500;
    visibility: inherit;
    line-height: 80px;
    letter-spacing: 0px;
    font-size: 70px;
}
.empty_space {
    height: 20px;
}
.mt_h1_style {
    font-size: 50px;
    font-weight: 100;
}
.mt_h1_about_us{
    font-size: 25px;
    line-height: 120%;
    margin: 4px 0 0;
    width: 100%;
}
.mt_single_h5{
    font-size: 35px;
    font-weight: 600;
    line-height: 40px;
    margin: 0 0 6px;
}
.mt_single_image_style{
    border-radius: 50 !important;
    -webkit-border-radius: 50% !important;
}
.mt_style_bar_about_us{
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    margin: 0;
    text-align: right;
}
.mt_custom_style_Josua {
    font-size: 45px;
    font-weight: bolder
}
.mt_custom_buton {
    background-color: #f1c40f;
    color: #1c1c1c;
    font-weight: 600;
}
.gambit_background_row {
    background-color: rgba(0, 0, 0, 0.7);
    background-size: cover;
    background-position: center;
}
.progress-bar {
    width: 100%;
}
.gambit_parallax_row {
    display: none;
}
.mt_custom_style2 {
    font-size: 50px;
    font-weight: 100;
    text-align: center;
    margin-top: -5px;
}
.mt_custom_style3 {
    font-size: 50px;
    font-weight: 100;
}
.mt_custom_empty_space_10 {
    height: 10px;
}
.mt_custom_empty_space_20 {
    height: 20px;
}
.mt_custom_empty_space_40 {
    height: 40px;
}
.mt_custom_empty_space_70 {
    height: 70px;
}
.mt_custom_empty_space3 {
    height: 35px;
}
.mt_custom_empty_space4 {
    height: 50px;
}
.mt_custom_space {
    height: 55px;
}
.mt_custom_space2 {
    height: 25px;
}
.mt_custom_space_10 {
    height: 10px;
}
.mt_custom_paragraf {
    text-align: center;
}
.headerTWO {
    font-weight: 900;
}
.mt_custom_white_color{
    color: #ffffff;
}
.mt_custom_latime{
    width: 80%;
}
.mt_custom_latime2 {
    width: 93.4%;
}
.mt_custom_size_50 {
    font-size: 50px;
}
.mt_custom_font25
{
    font-size: 35px;
    font-weight: bold;
}
.mt_custom_size18
{
    font-size: 18px;
    font-weight: bold;
}
.mt_custom_size15
{
    font-size: 15px;
}
.exodos-meta-group .meta-subtitle {
    color: #909292;
    font-size: 15px;
    margin: 0;
}
.navbar_background {
    background: #313131;
}
.mt_custom_size {
    font-size: 50px;
    font-weight: bolder;
}
.testimonial-img-holder {
    width: 100%;
}
.pull-left {
    float: left !important;
}
.testimonial-img img {
    display: block;
}
.testimonial-description {
    font-size: 20px;
    float: left;
    padding: 6px 15px 0;
}
.testimonail01-content p {
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
    float: left;
    width: 100%;
}
.post-name a {
    color: #191919;
}
.post-name2 a {
    font-size: 18px;
    font-weight: bold;
}
.col-md-12 .relative {
    position: relative;
    min-height: 1px;
    box-sizing: border-box;
}
.column_container>.column-inner {
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}

.article-social label {
    float: left;
    font-size: 18px;
    font-weight: 300;
    line-height: 37px;
    margin-right: 15px;
}

.social-sharer > li.facebook {
    background: #3b5999;
}

.social-sharer > li.twitter {
    background: #34CBFF;
}
.social-sharer > li.google-plus {
    background: #D14836;
}
.social-sharer > li.pinterest {
    background: #B30610;
}
.social-sharer > li.linkedin {
    background: #01669A;
}
.social-sharer > li.reddit {
    background: #6FC2FD;
}
.social-sharer > li.tumblr {
    background: #2D5770;
}
.social-sharer li a {
    color: #fff;
    display: block;
}

.social-sharer > li {
    display: block;
    float: left;
    margin: 0 5px 0 0;
    padding: 8px 12px;
    text-align: center;
    width: 40px;
    -webkit-transition: all 300ms;
}

.exodos-title-group {
    margin: 20px 0;  }
.exodos-title-group {
    margin: 20px 0;
    border-bottom: 1px solid #ededed;
}

.woocommerce ul.products li.product a img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 0 1em;
    box-shadow: none;
}
.woocommerce img {
    max-width: 100%;
}
.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product {
    clear: none !important;
    margin: 0 0 50px !important;
    padding: 0 15px !important;
    position: relative !important;
    width: 25%;
    text-align: center;
}
img.wp-smiley,
img.emoji {
    display: inline !important;
    border: none !important;
    box-shadow: none !important;
    height: 1em !important;
    width: 1em !important;
    margin: 0 .07em !important;
    vertical-align: -0.1em !important;
    background: none !important;
    padding: 0 !important;
}
.scroll .scroll_this img {
    height: 58px !important;
    width: 35px !important
}
#header {
    margin: 0 auto;
}
body .exodoswp_preloader_holder {
    background-color: #313131;
}
.is_header_semitransparent .navbar-default {
    background: rgba(49, 49, 49, 0.3) none repeat scroll 0 0;
}
.is_header_semitransparent .sticky-wrapper.is-sticky .navbar-default {
    background: rgba(49, 49, 49, 0.9) none repeat scroll 0 0;
}
#navbar .menu-item > a {
    border-radius: 5;
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    -ms-border-radius: 5;
}
.logo img,
.navbar-header .logo img {
    max-width: 300px;
}
body {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.24s ease-in-out;
    -moz-transition: opacity 0.24s ease-in-out;
    transition: opacity 0.24s ease-in-out;
}
h1,
h3 *,
h1 span {
    font-size: 36px;
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.24s ease-in-out;
    -moz-transition: opacity 0.24s ease-in-out;
    transition: opacity 0.24s ease-in-out;
}
h2,
h2 * {
    font-size: 30px;
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.24s ease-in-out;
    -moz-transition: opacity 0.24s ease-in-out;
    transition: opacity 0.24s ease-in-out;
}
h3,
h3 * {
    font-size: 24px;
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.24s ease-in-out;
    -moz-transition: opacity 0.24s ease-in-out;
    transition: opacity 0.24s ease-in-out;
}
h4 {
    font-size: 18px;
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.24s ease-in-out;
    -moz-transition: opacity 0.24s ease-in-out;
    transition: opacity 0.24s ease-in-out;
}
h5 {
    font-size: 14px;
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.24s ease-in-out;
    -moz-transition: opacity 0.24s ease-in-out;
    transition: opacity 0.24s ease-in-out;
}
h6 {
    font-size: 12px;
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.24s ease-in-out;
    -moz-transition: opacity 0.24s ease-in-out;
    transition: opacity 0.24s ease-in-out;
}
.wf-loading h6
{
    opacity: 0;
}
.ie.wf-loading h6
{
    visibility: hidden;
}
input,
textarea {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.24s ease-in-out;
    -moz-transition: opacity 0.24s ease-in-out;
    transition: opacity 0.24s ease-in-out;
}
.wf-loading input,
.wf-loading textarea
{
    opacity: 0;
}
.ie.wf-loading input,
.ie.wf-loading textarea
{
    visibility: hidden;
}
input[type="submit"] {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.24s ease-in-out;
    -moz-transition: opacity 0.24s ease-in-out;
    transition: opacity 0.24s ease-in-out;
}
.wf-loading input[type="submit"]
{
    opacity: 0;
}
.ie.wf-loading input[type="submit"]
{
    visibility: hidden;
}
.navbar-default {
    background-color: #333333;
}
header {
    color: #FFFFFF;
}
.fixed-sidebar-menu {
    background-color: rgba(14, 26, 33, 0.95);
}
footer.template-footer {
    background-color: #333333;
    background-image: url('images/footer_background.jpg');
}
footer .footer-top h1.widget-title,
footer .footer-top h3.widget-title,
footer .footer-top .widget-title {
    color: #ffffff;
}
.footer-row-1 {
    margin-top: 50px;
}
.footer-row-1 {
    border-top: 0px solid #515b5e;
    border-bottom: 0px solid #515b5e;
    border-left: 0px solid #515b5e;
    border-right: 0px solid #515b5e;
}
footer .footer {
    background-color: rgba(51, 51, 51, 0.1);
}
footer .footer h1.widget-title,
footer .footer h3.widget-title,
footer .footer .widget-title {
    color: #ffffff;
}
.single article .article-content p {
    line-height: 27px;
    font-weight: 300;
    color: #454646;
    font-size: 18px;
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.24s ease-in-out;
    -moz-transition: opacity 0.24s ease-in-out;
    transition: opacity 0.24s ease-in-out;
}
.wf-loading .single article .article-content p
{
    opacity: 0;
}
.ie.wf-loading .single article .article-content p
{
    visibility: hidden;
}
.tta-color-grey.tta-style-classic .tta-tab.active > a {
    color: #666666;
}
.tta-color-grey.tta-style-classic.tta-tabs .tta-panels,
.tta-color-grey.tta-style-classic .tta-tab.active > a {
    background-color: #f8f8f8;
}
.tta-color-grey.tta-style-classic.tta-tabs .tta-panels,
.tta-color-grey.tta-style-classic.tta-tabs .tta-panels::after,
.tta-color-grey.tta-style-classic.tta-tabs .tta-panels::before,
.tta-color-grey.tta-style-classic .tta-tab.active > a {
    border-color: #f0f0f0;
}
.tta-color-grey.tta-style-classic .tta-tab > a {
    color: #666666;
}
.tta-color-grey.tta-style-classic .tta-tab > a {
    background-color: #ebebeb;
}
.tta-color-grey.tta-style-classic .tta-tab > a {
    border-color: #e3e3e3;
}
blockquote {
    background-color: #f6f6f6;
}
blockquote {
    border-color: #f1c40f;
}
.tta-color-grey.tta-style-classic .tta-panel .tta-panel-title > a {
    color: #666666;
}
.tta-color-grey.tta-style-classic .tta-panel .tta-panel-heading {
    background-color: #f8f8f8;
}
.tta-color-grey.tta-style-classic .tta-panel .tta-panel-heading {
    border-color: #f0f0f0;
}
.tta-color-grey.tta-style-classic .tta-tab.active > a {
    color: #666666;
}
.tta-color-grey.tta-style-classic .tta-panel.active .tta-panel-heading,
.tta-color-grey.tta-style-classic .tta-panel .tta-panel-body,
.tta-color-grey.tta-style-classic .tta-panel .tta-panel-heading:focus,
.tta-color-grey.tta-style-classic .tta-panel .tta-panel-heading:hover {
    background-color: #f8f8f8;
}
.tta-color-grey.tta-style-classic .tta-panel.active .tta-panel-heading,
.tta-color-grey.tta-style-classic .tta-panel .tta-panel-body,
.tta-color-grey.tta-style-classic .tta-panel .tta-panel-body::after,
.tta-color-grey.tta-style-classic .tta-panel .tta-panel-body::before {
    border-color: #f0f0f0;
}
.mt_background_about-number_1 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 35px;
    background-image: url(images/mt_exodos_number1-1.png?id=6693);
    background-position: 0 0;
    background-repeat: no-repeat;
}
.mt_background_about-number_2 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 35px;
    background-image: url(images/mt_exodos_number2.png?id=6697);
    background-position: 0 0;
    background-repeat: no-repeat;
}
.mt_background_about-number_3 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 35px;
    background-image: url(images/mt_exodos_number3.png?id=6698);
    background-position: 0 0;
    background-repeat: no-repeat;
}
.mt_background_about-number_4 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 35px;
    background-image: url(images/mt_exodos_number4.png);
    background-position: 0 0;
    background-repeat: no-repeat;
}
.tribe-events-list .tribe-events-loop .tribe-event-featured,
.tribe-events-list #tribe-events-day.tribe-events-loop .tribe-event-featured,
.type-tribe_events.tribe-events-photo-event.tribe-event-featured .tribe-events-photo-event-wrap,
.type-tribe_events.tribe-events-photo-event.tribe-event-featured .tribe-events-photo-event-wrap:hover {
    background-color: #0ea0d7;
}
#tribe-events-content table.tribe-events-calendar .type-tribe_events.tribe-event-featured {
    background-color: #0ea0d7;
}
.tribe-events-list-widget .tribe-event-featured,
.tribe-events-venue-widget .tribe-event-featured,
.tribe-mini-calendar-list-wrapper .tribe-event-featured,
.tribe-events-adv-list-widget .tribe-event-featured .tribe-mini-calendar-event {
    background-color: #0ea0d7;
}
.tribe-grid-body .tribe-event-featured.tribe-events-week-hourly-single {
    background-color: rgba(14, 160, 215, .7);
    border-color: #0ea0d7;
}
.tribe-grid-body .tribe-event-featured.tribe-events-week-hourly-single:hover {
    background-color: #0ea0d7;
}
.tribe-events-calendar .type-tribe_events.tribe-event-featured {
    background-color: #0ea0d7;
}
.tribe-events-list-widget .tribe-event-featured,
.tribe-events-venue-widget .tribe-event-featured,
.tribe-mini-calendar-list-wrapper .tribe-event-featured,
.tribe-events-adv-list-widget .tribe-event-featured .tribe-mini-calendar-event {
    background-color: #0ea0d7;
}
.tribe-grid-body .tribe-event-featured.tribe-events-week-hourly-single {
    background-color: rgba(14, 160, 215, .7);
    border-color: #0ea0d7;
}
.tribe-grid-body .tribe-event-featured.tribe-events-week-hourly-single:hover {
    background-color: #0ea0d7;
}
.tribe-events-list .tribe-events-loop .tribe-event-featured,
.tribe-events-list #tribe-events-day.tribe-events-loop .tribe-event-featured,
.type-tribe_events.tribe-events-photo-event.tribe-event-featured .tribe-events-photo-event-wrap,
.type-tribe_events.tribe-events-photo-event.tribe-event-featured .tribe-events-photo-event-wrap:hover {
    background-color: #0ea0d7;
}
.campaign_shortcode .campaign_name > a {
    color: #ffffff;
}
.campaign_shortcode .campaign_description p {
    color: rgba(255, 255, 255, 0.8);
}
.campaign_shortcode .campaign_summary h4 {
    color: #ffffff !important;
}
.campaign_shortcode .campaign_summary h3 {
}
.campaign_shortcode .campaign_summary h3 span {
}
.campaign_shortcode .campaign_button {
    color: #333333;
    clear: both;
    display: block;
    font-weight: 600;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
}
.campaign_shortcode .campaign_button:hover {
    color: #333333;
}
.featured_product_shortcode {
    background-color: #ffffff !important;
}
.featured_product_shortcode .featured_product_name a {
    color: #333333;
}
.featured_product_shortcode .featured_product_price span {
    color: #333333;
}
.featured_product_shortcode .featured_product_price del span {
    color: #333333;
}
.featured_product_shortcode .featured_product_price ins span {
    color: #333333;
}
.featured_product_shortcode .featured_product_button {
    color: #333333;
}
.featured_product_shortcode .featured_product_button:hover {
    background-color: #efbb0e;
    color: #333333;
}
.campaign_procentage.progress {
    height: 10px !important;
    margin-bottom: 60px !important;
    margin-top: 35px;
    padding: 0 !important;
    background-color: #f5f5f5;
}
.campaign_shortcode .campaign_donated .campaign_donated_value {
    font-size: 14px;
    line-height: 25px;
}
.campaign_donated_value2 {
    font-size: 25px;
}
.campaign_donated_value3 {
    font-size: 14px;
    line-height: 25px;
}
.aligncenter { 
    margin: 0 auto;
    display: block;
}
.rev_slider .tp-caption {
    position: relative;
    display: block;
    -webkit-font-smoothing: antialiased!important;
}
.rev-btn, .rev-btn:visited {
    outline: 0!important;
    box-shadow: none!important;
    text-decoration: none!important;
}
img.blog_post_image {
    transition: all 250ms;
}
.mt_max_size_images{
    width: 100%;
    height: 100%;
}
.mt_left_37{
    left: 37%;
}

/*WIDTH*/
.mt_width_100{
    width: 100%;
}
.mt_width_95{
    width: 95%;
}
.mt_width_90{
    width: 90%;
}
.mt_width_86{
    width: 86% !important;
}
.mt_width_85{
    width: 85%;
}
.mt_width_80{
    width: 80%;
}
.mt_width_75{
    width: 75%;
}
.mt_width_70{
    width: 70%;
}
.mt_width_20{
    width: 20% !important;
}
.mt_width_0{
    width: 0% !important;
}

/*TOP*/
.mt_top_40{
    top:40%;
}
.mt_top_25{
    top: 25%;
}
.mt_top_80{
    padding-top: 80px;
}
.mt_color_white{
    color: #fff;
}
.low_padding{
    padding: 20px 0px;
}
.medium_padding{
    padding: 40px 0px;
}
.high-padding {
    padding: 80px 0;
}

/*MARGIN*/
.margin_left_15_neg{
    margin-left: -15px !important;
}
.margin_left_25{
    margin-left: 25px;
}
.margin_left_50{
    margin-left: 50px;
}
.mt_margin_left_15{
    margin-left: -15px !important; 
}
.mt_margin_top_15{
    margin-top: -15px;
}
.mt_margin_top_65{
    margin-top: 65px;
}
.mt_margin_bottom_15_neg{
    margin-bottom: -15px !important;
}
.mt_margin_bottom_60{
    margin-bottom: 60px;    
}
.mt_margin_bottom_30{
    margin-bottom: 30px;    
}
.mt_background_progress_bar{
    background-color: #f1c40f;
}
.mt_background_first_content{
    background: #ffffff url(../images/images_first_content.png);
    background-position: -70px -30px;
    background-repeat: no-repeat;
}
.mt_margin_top_35{
    margin-top: 35px;
}
.mt_font_bold{
    font-weight: bold;
}
button.general.btn3.btn3-size-md.btn3-shape-square.btn3-style-custom.mt_custom_button {
    font-size: 14px;
    color: #1c1c1c;
    padding: 14px 20px;
    padding-top: 14px;
    padding-right: 20px;
    padding-bottom: 14px;
    padding-left: 20px;
}
.mt_background_blog{
    background-color: #F3F3F3 !important;
}
.mt_text_align_center{
    text-align: center;
}
.mt_section_product_first_section{
    border-radius: 10px;
    display: flex;
    padding: 20px;
}
.mt_section_product_background{
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 95px;
    padding-bottom: 5px;
    background-color: #333333;
}
.mt_section_product_two{
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 5px;
    background-color: #333333;
}
.mt_section_product_style{
    font-weight: bold;
}
.mt_section_product_two_button_style{
    background-color: #F1C40F ;
}
.mt_section_product_title_style{
    font-size: 48px;
    font-weight: 900;
    line-height: 60px;
    color: #333333;
}
.mt_section_product_button_style{
    font-weight: 600;
    padding: 15px 30px;
    text-transform: uppercase;
    transition: all 250ms ease-in-out;
    -webkit-transition: all 250ms ease-in-out;
}
.mt_events_background_style{
    padding-bottom: 60px;
    background-image: url(images/text_background_events-1e55b.png?id=6424);
    background-position: -70px -30px;
    background-repeat: no-repeat;
}
.mt_blog_align_content{
    background-color: #ffffff;
    padding: 40px;
}
.mt_overflow{
	overflow: hidden;
	border-radius: 10px;
}
.mt_first_page_button{
    border: 2px solid rgba(255, 255, 255, 0.9);
    border-radius: 3px;
    color: rgba(255, 255, 255, 0.9) !important;
    z-index: 8;
    background-color: rgba(0, 0, 0, 0);
    border-width: 1px;
    line-height: 65px;
    padding: 10px 30px;
    letter-spacing: 3px;
    margin-left: 0px !important;
    font-weight: 500;
    font-size: 14px;
    opacity: 1;
    -webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
}
.mt_first_page_button:hover{
    color: #f1c40f !important;
    box-shadow: #ffffff 0 0px 0px 40px inset;
}
.mt_background_sermons_sections{
    background-color:#F7F7F7;
}
.mt_sermons_sections_size{
    margin-bottom: 15px;
    margin-top: -5px;
}
.mt_custom_paragraph{
    text-align: center;
}
.mt_custom_sermom_single{
    align-content: center;
}

/*PADDING*/
.mt_padding_left_15{
    padding-left: 15px;
}
.mt_padding_bottom_35{
    padding-bottom: 35px !important;
}
.mt_padding_left_right_0{
    padding-left: 0px;
    padding-right: 0px;
}
/*PARALLAX*/
.mt_parallax_size_images{
    padding-top: 300px !important;
    padding-bottom: 300px !important;
}
.mt_parallax_1{
    pointer-events: none; width: 1349px;
    position: fixed; z-index: -2; 
    top: 0px; left: 0px; opacity: 1;
    background-size: cover; 
    background-attachment: fixed; 
    background-position: 50% 50%; 
    background-repeat: no-repeat;
    transform: translateZ(0px); 
    transition: transform linear -1ms; height: 426px;
}
.mt_parallax_3{
    pointer-events: none; width: 1349px;
    position: fixed; z-index: -2; 
    top: 0px; left: 0px; opacity: 1;
    background-size: cover; 
    background-attachment: fixed; 
    background-position: 50% 50%; 
    background-repeat: no-repeat;
    transform: translateZ(0px); 
    transition: transform linear -1ms; height: 426px;
}
.mt_parallax_2{
    pointer-events: none; width: 1349px;
    position: fixed; z-index: -2; 
    top: 0px; left: 0px; opacity: 1;
    background-size: cover; 
    background-attachment: fixed; 
    background-position: 50% 50%; 
    background-repeat: no-repeat;
    transform: translateZ(0px); 
    transition: transform linear -1ms; height: 426px;
}
.mt_parallax_4{
    pointer-events: none; width: 1349px;
    position: fixed; z-index: -2; 
    top: 0px; left: 0px; opacity: 1;
    background-size: cover; 
    background-attachment: fixed; 
    background-position: 50% 50%; 
    background-repeat: no-repeat;
    transform: translateZ(0px); 
    transition: transform linear -1ms; height: 426px;
}
.mt_parallax_1_left{
    box-sizing: border-box;
    padding-left: 10%;
    width: 100%;
    text-align: left;
}
.mt_parallax_1_right{
    box-sizing: border-box;
    padding-right: 10%;
    width: 100%;
    text-align: right;
}
.mt_parallax_h1{
    font-size: 50px; 
    font-weight: 100;
    color: #ffffff;
}
.mt_sermon_bar{
    margin: 20px 0px;
    padding-bottom: 25px;
    border-bottom: 1px solid #ededed;
}
.mt_margin_0{
    margin-left: 0px !important;
    margin-right: 0px !important;
}
.mt_custom_h2{
    font-size: 24px;
    color: #2c3533;
    line-height: 24px;
    text-align: center;
    font-style:normal;
}
.mt_display_none{
    display:none;
}
.mt_black_color{
    color: black !important;
}
.mt_font_size_50{
    font-size: 50px !important;
}
.mt_blog_images_style{
    width: 100%;
    float: left;
    position: relative;
    min-height: 1px;
    box-sizing: border-box;
}
.mt_button_two{}
#google-container{
    height: 450px;
}
a {
  text-decoration: none;
  color: #999;
}
audio {
  display: block;
}
.eq {
  margin: 32px;
}
div.controls label {
  display: inline-block;
  text-align: right;
  width: 80px;
}
div.controls label, div.controls input {
    vertical-align: middle;
    padding: 0;
    margin: 0;
}
